.Button {
  display: grid;
  /* margin: 2rem; */
  color: rgba(0, 0, 0, 0);
}

.Button:hover {
  color: rgba(0, 0, 0, 1);
}

#Login {
  font-size: 3rem;
  cursor: pointer;
  overflow: hidden;
  border: black solid 2px;
  border-radius: 5rem;
  box-sizing: border-box;
  margin: 2rem 30px;
  padding: 10rem;
  transition: all 0.5s;
}

#Register {
  font-size: 3rem;
  cursor: pointer;
  overflow: hidden;
  border: black solid 2px;
  border-radius: 5rem;
  box-sizing: border-box;
  margin: 2rem 30px;
  padding: 10rem;
  transition: all 0.5s;
}

#Login:hover {
  font-size: 3.5rem;
  opacity: 1;
}

#Register:hover {
  font-size: 3.5rem;
  opacity: 1;
}

@media screen and (min-width: 720px) {
  .Button {
    grid-template-columns: repeat(2, 1fr);
  }
}

.loginpage {
  margin: 0px 0px 0px 45vw;
  width: 50vw;
}

.registerpage {
  margin: 0px 0px 0px 45vw;
  width: 50vw;
}

.LoginPage_Login_Form button {
  width: 100px;
  font-size: 1rem;
}
