label {
  display: flex;
  justify-content: center;
  font-weight: 200px;
}

form {
  display: flex;
  align-items: center;
}

form button {
  border: firebrick 2px double;
  border-radius: 7rem;
  padding: 0;
  transition: all 0.4s;
}

img {
  object-fit: none;
}

.T_Form_imageButton {
  flex-grow: 0.3;
}

.T_Form_imageButton:hover {
  transform: scale(1.05);
}

.T_Form_Space {
  flex-grow: 5;
}

.T_Form_leftTraverse {
  flex-grow: 1;
  transform: rotateY(-180deg);
}

.T_Form_rightTraverse {
  flex-grow: 1;
}

.T_Form_leftTraverse:hover {
  transform: scale(1.1) rotateY(180deg);
}

.T_Form_rightTraverse:hover {
  transform: scale(1.1);
}
