* {
  margin: 0;
  padding: 0;
}

label {
  display: flex;
  justify-content: center;
}

form {
  height: 200px;
  width: 200px;
  transition: all 0.2s;
  position: absolute;
  top: 25%;
  left: 25%;
}

button {
  border: firebrick 1px double;
  margin: 0;
  padding: 0;
}

button:hover {
  border: firebrick 2px double;
  transform: scale(20px, 20px, 20px);
}
