.AdminPage_Header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background: blue;
  padding: 1.5rem 0px;
}

.AdminPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.AdminPage_Buttons {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.AdminPage_Buttons button {
  width: 250px;
  height: 120px;
  border-radius: 15px;
  border: 2px solid brown;
  font-size: 2rem;
}

.AdminPage_Buttons button:hover {
  cursor: pointer;
}

.AdminPage_Users {
  width: 700px;
  height: 150px;
  border-radius: 15px;
  border: 2px solid brown;
  background-color: cornsilk;
  padding: 0.5rem;
  display: flex;
}

.AdminPage_admins_admins {
  width: 700px;
  height: 150px;
  border-radius: 15px;
  border: 2px solid brown;
  background-color: cornsilk;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.AdminPage_admins {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.AdminPage_Users h3 {
  padding: 0.2rem;
}

.AdminPage_UpdateButton {
  flex: 1 1 40%;
}

.AdminPage_UpdateButton button {
  width: 3.5rem;
  font-size: 1rem;
}

.AdminPage_Users div {
  flex: 1 1 auto;
}

.AdminPage_home {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}

.AdminPage_home button {
  border: none;
}
